* {
  box-sizing: border-box;
}
.Students {
  text-align: center;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: violet;
  
}
.three {
  display: flex;
  justify-content: space-around;
  
}
.three img {
  max-width: 300px;
}
.three p {
  color: tan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}